@font-face {
  font-family: "Ellograph CF";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/EllographCF-Bold.woff2") format("woff2"),
    url("./fonts/EllographCF-Bold.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/EllographCF-BoldItalic.woff2") format("woff2"),
    url("./fonts/EllographCF-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/EllographCF-DemiBold.woff2") format("woff2"),
    url("./fonts/EllographCF-DemiBold.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/EllographCF-DemiBoldItalic.woff2") format("woff2"),
    url("./fonts/EllographCF-DemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 800;
  font-style: normal;
  src: url("./fonts/EllographCF-ExtraBold.woff2") format("woff2"),
    url("./fonts/EllographCF-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 800;
  font-style: italic;
  src: url("./fonts/EllographCF-ExtraBoldItalic.woff2") format("woff2"),
    url("./fonts/EllographCF-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 200;
  font-style: normal;
  src: url("./fonts/EllographCF-ExtraLight.woff2") format("woff2"),
    url("./fonts/EllographCF-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 200;
  font-style: italic;
  src: url("./fonts/EllographCF-ExtraLightItalic.woff2") format("woff2"),
    url("./fonts/EllographCF-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 900;
  font-style: normal;
  src: url("./fonts/EllographCF-Heavy.woff2") format("woff2"),
    url("./fonts/EllographCF-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 900;
  font-style: italic;
  src: url("./fonts/EllographCF-HeavyItalic.woff2") format("woff2"),
    url("./fonts/EllographCF-HeavyItalic.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/EllographCF-Light.woff2") format("woff2"),
    url("./fonts/EllographCF-Light.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/EllographCF-LightItalic.woff2") format("woff2"),
    url("./fonts/EllographCF-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/EllographCF-Regular.woff2") format("woff2"),
    url("./fonts/EllographCF-Regular.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/EllographCF-RegularItalic.woff2") format("woff2"),
    url("./fonts/EllographCF-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/EllographCF-Thin.woff2") format("woff2"),
    url("./fonts/EllographCF-Thin.woff") format("woff");
}

@font-face {
  font-family: "Ellograph CF";
  font-weight: 100;
  font-style: italic;
  src: url("./fonts/EllographCF-ThinItalic.woff2") format("woff2"),
    url("./fonts/EllographCF-ThinItalic.woff") format("woff");
}
