:root {
  --theme-1-primary: #484848;
  --theme-1-fill: #d3d3d3;
  --theme-2-primary: #0000fa;
  --theme-2-fill: #fff752;
  --theme-3-primary: #f208a4;
  --theme-3-fill: #ffe1ef;
  --theme-4-primary: #6e3b0c;
  --theme-4-fill: #fff8c1;
  --theme-5-primary: #f80303;
  --theme-5-fill: #fff1e6;
  --theme-6-primary: #007867;
  --theme-6-fill: #f1fff0;
  --theme-7-primary: #025389;
  --theme-7-fill: #ffe6ab;
  --theme-8-primary: #7000db;
  --theme-8-fill: #abffce;
  --theme-9-primary: #108100;
  --theme-9-fill: #ddff96;
  --grey-fill: #ede8e3;
}

* {
  font-family: "Ellograph CF", monospace;
}

html {
  background-color: var(--grey-fill);
  font-size: 18px;
}
